<!DOCTYPE html>
<html>
<head>
	<title>用户查询</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	<!-- For-Mobile-Apps-and-Meta-Tags -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		 
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
<div class="row">
    <div class="col-md-12" style="">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="glyphicon glyphicon-home">
                </i>
            </li>
        <a href="" style="color:#333;font-size: 14px">用户中心</a>
        </ul>
    </div>
</div>

<!--<div class="layui-inline" style="font-size: 20px; margin-left: 50px">-->
	<!--<label class="layui-form-label"> 状态:</label>-->
		<!--<input style="height: 20px" type="text" name="account" id="account"  autocomplete="off" class="layui-input">-->
<!--</div>-->
<div class="row" style="margin-left: 20px;margin-top: 20px">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="输入用户名">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">查询</button>
      </span>
        </div><!-- /input-group -->
    </div>
        <div class="col-lg-3"></div>
    <!--<form class="form-inline">-->
        <!--<div class="col-md-4">-->
            <!--<label for="exampleInputName2">用户名 : </label>-->
            <!--<input type="text" class="form-control" id="exampleInputName2" placeholder="用户名">-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<label>在线状态 : </label>-->
            <!--<select class="form-control">-->
                <!--<option>全部</option>-->
                <!--<option>在线</option>-->
                <!--<option>未在线</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<button type="submit" class="btn btn-default">查询</button>-->
        <!--</div>-->
    <!--</form>-->
</div>
<div class="row">
    <div class="col-md-12">
	<table class="table table-striped" style="margin-top: 50px; border: 1px ; width: 100%;font-family: '微软雅黑','Open Sans', sans-serif;">
		<thead style="font-size: 14px;" >
		<tr>
		<th style="width: 60px">用户名</th>
		<th style="width: 40px" class="sorting">账号</th>
		<th style="width: 40px">邮箱</th>
		<th style="width: 60px">微信号</th>
		<th style="width: 40px">密码</th>
		<th style="width: 80px">在线状态</th>
		<th style="width: 40px">操作</th>
		</tr>
		</thead>
        <tbody aria-relevant="all" style="background-color: #f9f9f9">
        <tr>
            <td valign="top" colspan="7" >没有数据....</td>
        </tr>
        </tbody>
	</table>
</div>
</body>
</html>
